<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60430010007-0m77hqqdt1aplggsema7jlctua5gts08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60430010007-0m77hqqdt1aplggsema7jlctua5gts08</string>
	<key>API_KEY</key>
	<string>AIzaSyBbZUJzajzPolK-fXveWP6GGxRHTpF1Uo4</string>
	<key>GCM_SENDER_ID</key>
	<string>60430010007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quantam</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-bc9cc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-bc9cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60430010007:ios:1dd1ca6ef9500e7f80cbd2</string>
</dict>
</plist>